<!DOCTYPE html>
<html>
<head>
    <title>Order Details</title>
</head>
<body>

<h1>Order Details</h1>

<p><strong>Order ID:</strong> {{ order.id }}</p>
<p><strong>Created At:</strong> {{ order.created_at }}</p>

<h2>Customer Information</h2>
<p><strong>Name:</strong> {{ order.first_name }} {{ order.last_name }}</p>
<p><strong>Email:</strong> {{ order.email }}</p>
<p><strong>Mobile Number:</strong> {{ order.mobile_number }}</p>

<h2>Shipping Address</h2>
<p><strong>Address:</strong> {{ order.address }}</p>
<p><strong>Address Two:</strong> {{ order.address_two }}</p>
<p><strong>Town:</strong> {{ order.town }}</p>
<p><strong>State:</strong> {{ order.state }}</p>
<p><strong>ZIP:</strong> {{ order.zip }}</p>

<h2>Order Note</h2>
<p>{{ order.order_note }}</p>

<h2>Cart Items</h2>
<ul>
{% for cart_item in order.cart.all %}
    <li>{{ cart_item.product.name }} - Price: {{ cart_item.product.price }} - Quantity: {{ cart_item.quantity }} - </li>
{% endfor %}
</ul>

</body>
</html>
